.intro {
	height: 150px;
	background-color: dimgray;
}

.intro h1 {
	padding-top: 3rem;
	font-weight: 500;
	color: red;
	text-shadow: 3px 3px black;
	text-align: center;
}

.content {
	text-align: center;
	background-color: darkgray;
	width: 500px;
	margin-left: 35%;
}

.fizz-red {
	color: red;
	font-size: 2rem;
}

.buzz-blue {
	color: blue;
	font-size: 2rem;
}

.double-fizz {
	color: green;
	font-size: 2rem;
}